RewriteEngine On

RewriteRule ^index index.php [NC,L]
RewriteRule ^index /School1/index.php [NC,L]


RewriteRule ^welcome EspaceMasterAdmin/welcome.php [NC,L]
RewriteRule ^AjouterMadmin EspaceMasterAdmin/AjouterMadmin.php [NC,L]
RewriteRule ^gestionMadmin EspaceMasterAdmin/gestionMadmin.php [NC,L]   
RewriteRule ^upload EspaceMasterAdmin/uploadMadmin.php [NC,L] 
RewriteRule ^message EspaceMasterAdmin/message.php [NC,L] 



                        



RewriteRule ^index EspaceAdmin/index.php [NC,L]
RewriteRule ^index EspaceProf/index.php [NC,L]
RewriteRule ^index /School1/EspaceMasterAdmin/index.php [NC,L]
RewriteRule ^index EspaceEtudiant/index.php [NC,L]
RewriteRule ^index EspaceParent/index.php [NC,L]

RewriteRule ^article/([0-9]+)$ article.php?id=$1
